<?xml version="1.0"?>

<!--
/**
 * @category    Mageek
 * @package     Mageek_OpenmageTheme
 * @author      Jindra Hejlík <jindra@hejlik.cz>
 * @copyright   Copyright (c) Mageek (http://hejlik.cz/)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->

<config>
    <modules>
        <Mageek_OpenmageTheme>
            <version>2.0.0-alfa</version>
        </Mageek_OpenmageTheme>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <dashboard_graph>Mageek_OpenmageTheme_Block_Adminhtml_Dashboard_Graph</dashboard_graph>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <mageek_openmagetheme>
                <class>Mageek_OpenmageTheme_Model</class>
            </mageek_openmagetheme>
        </models>
        <helpers>
            <mageek_openmagetheme>
                <class>Mageek_OpenmageTheme_Helper</class>
            </mageek_openmagetheme>
        </helpers>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <mageek_openmagetheme_selectedTheme>
                        <type>singleton</type>
                        <class>mageek_openmagetheme/observer</class>
                        <method>selectedTheme</method>
                    </mageek_openmagetheme_selectedTheme>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <default>
        <admin>
            <mageek_openmagetheme>
                <mageektheme_enable>1</mageektheme_enable>
                <mageektheme_customcss><![CDATA[.yourstyle { display: visible; }]]></mageektheme_customcss>
            </mageek_openmagetheme>
        </admin>
    </default>
</config>
