<?xml version="1.0"?>

<!--
/**
 * @category    Mageek
 * @package     Mageek_OpenmageTheme
 * @author      Jindra Hejlík <jindra@hejlik.cz>
 * @copyright   Copyright (c) Mageek (http://hejlik.cz/)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->

<config>
    <sections>
        <admin>
            <groups>
                <mageek_openmagetheme translate="label" module="mageek_openmagetheme">
                    <label>Mageek Admin Theme</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <mageektheme_enable translate="label comment">
                            <label>Enable Theme</label>
                            <comment><![CDATA[Select 'Yes' if you want to use this theme. The default admin theme will be replaced.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </mageektheme_enable>
                        <mageektheme_customcss translate="label comment">
                            <label>Custom CSS</label>
                            <comment>This will be rewrite admintheme CSS code.</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </mageektheme_customcss>
                    </fields>
                </mageek_openmagetheme>
            </groups>
        </admin>
    </sections>
</config>
