<?xml version="1.0"?>

<!--
/**
 * @category    Mageek
 * @package     Mageek_AdminTheme
 * @author      Jindra Hejlík <jindra@hejlik.cz>
 * @copyright   Copyright (c) Mageek (http://mageek.cz/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->

<config>
  <modules>
    <Mageek_AdminTheme>
      <version>1.0.0</version>
    </Mageek_AdminTheme>
  </modules>
  <global>
    <models>
      <mageek_admintheme>
        <class>Mageek_AdminTheme_Model</class>
      </mageek_admintheme>
    </models>
    <helpers>
      <mageek_admintheme>
        <class>Mageek_AdminTheme_Helper</class>
      </mageek_admintheme>
    </helpers>
    <events>
      <adminhtml_controller_action_predispatch_start>
        <observers>
          <mageek_admintheme_selectedTheme>
            <type>singleton</type>
            <class>mageek_admintheme/observer</class>
            <method>selectedTheme</method>
          </mageek_admintheme_selectedTheme>
        </observers>
      </adminhtml_controller_action_predispatch_start>
    </events>
  </global>
  <default>
    <admin>
      <mageek_admintheme>
        <theme_name>mageek</theme_name>
      </mageek_admintheme>
    </admin>
  </default>
</config>
